<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>

<h1>Lista de Clientes</h1>

<a href="/clientes/novo">Cadastrar Cliente</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Ações</th>
    </tr>

    <tr th:each="cliente : ${listaClientes}">
        <td th:text="${cliente.idDonoAnimal}"></td>
        <td th:text="${cliente.donoNome}"></td>
        <td th:text="${cliente.telefone}"></td>
        <td th:text="${cliente.endereco}"></td>

        <a th:href="@{|/clientes/editar/${cliente.idDonoAnimal}|}">
            <button>Editar</button>
        </a>
        <a th:href="@{|/clientes/excluir/${cliente.idDonoAnimal}|}">
            <button>Excluir</button>
        </a>
    </tr>
</table>

</body>
</html>