<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Contas</title></head>
<body>

<h1>Lista de Contas</h1>

<a href="/contas/novo"><button>Nova Conta</button></a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Atendente</th>
        <th>Valor</th>
        <th>Tipo Pagamento</th>
        <th>Ações</th>
    </tr>

    <tr th:each="c : ${listaContas}">
        <td th:text="${c.idCompra}"></td>
        <td th:text="${c.cliente != null ? c.cliente.donoNome : 'N/A'}"></td>
        <td th:text="${c.atendente != null ? c.atendente.nomeFuncionario : 'N/A'}"></td>
        <td th:text="'R$ ' + c.pagamento"></td>
        <td th:text="${c.tipoPagamento != null ? c.tipoPagamento.tipo : 'N/A'}"></td>

        <td>
            <a th:href="@{|/contas/detalhes/${c.idCompra}|}"><button>Detalhes</button></a>
            <a th:href="@{|/contas/editar/${c.idCompra}|}"><button>Editar</button></a>
            <a th:href="@{|/contas/excluir/${c.idCompra}|}"><button>Excluir</button></a>
        </td>
    </tr>
</table>

</body>
</html>