<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Funcionário</title></head>
<body>

<h1 th:text="${funcionario.id == 0 ? 'Novo Funcionário' : 'Editar Funcionário'}"></h1>

<form th:action="${funcionario.id == 0 ? '/funcionarios' : '/funcionarios/' + ${funcionario.id}}"
      method="post" th:object="${funcionario}">

    <label>Nome:</label>
    <input type="text" th:field="*{nomeFuncionario}"><br><br>

    <label>Função:</label>
    <input type="text" th:field="*{funcao}"><br><br>

    <label>Salário:</label>
    <input type="number" step="0.01" th:field="*{salario}"><br><br>

    <button type="submit">Salvar</button>
</form>

<br>
<a href="/funcionarios"><button>Cancelar</button></a>

</body>
</html>