<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Serviços</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Serviços</h1>

<a href="/servicos/novo"><button>Novo Serviço</button></a>

<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Horário</th>
        <th>Animal</th>
        <th>Funcionário</th>
        <th>Ações</th>
    </tr>

    <tr th:each="s : ${listaServicos}">
        <td th:text="${s.idServico}"></td>
        <td th:text="${s.nomeItem}"></td>
        <td th:text="${s.precoItem}"></td>
        <td th:text="${s.servicoHorario}"></td>
        <td th:text="${s.animal != null ? s.animal.nomeAnimal : '—'}"></td>
        <td th:text="${s.funcionario != null ? s.funcionario.nomeFuncionario : '—'}"></td>

        <td>
            <a th:href="@{|/servicos/detalhes/${s.idServico}|}"><button>Detalhes</button></a>
            <a th:href="@{|/servicos/editar/${s.idServico}|}"><button>Editar</button></a>
            <a th:href="@{|/servicos/excluir/${s.idServico}|}"><button>Excluir</button></a>
        </td>
    </tr>

</table>

</body>
</html>