<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <form action="#" id="cadServicos" name="cadServicos" th:action="@{/cadServicos}" th:object="${servico}" method="post">

        <label>Nome:</label>
        <input type="text" name="nome" id="nome" th:field="*{nomeItem}" /><br>
        
        <label>Preço:</label>
        <input type="text" name="preco" id="preco" th:field="*{precoItem}" /><br>

        <label>Horário do Serviço:</label>
        <input type="text" name="horario" id="horario" th:field="*{servicoHorario}" /><br>

        <button>Cadastrar</button>


    </form>    
    
</body>
</html>